Repository dlevs/dlevs.com-legacy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, pug-lint

Fix failing photoswipe and html validation tests
  .lintstagedrc
  package.json
  publicSrc/scripts/includes/photoswipe/photoswipe.browsertest.js
  publicSrc/styles/includes/base/headings.css
  views/patternLibrary/typography.pug
  views/travel/includes/travelPostListingItems.pug
Due: eslint --fix, stylelint --fix, pug-lint

Pass Facebook open graph validation
  data/travelPosts.js
  lib/constants.js
  lib/metaUtils.js
  views/layouts/main.pug
Due: eslint --fix, pug-lint

Add profile open graph data to homepage
  data/home.js
Due: eslint --fix

Clean og:url values
  lib/metaUtils.js
Due: eslint --fix

Add image type to open graph tags
  build/processImages.js
  lib/metaUtils.js
Due: eslint --fix

Add article:tag open graph tags
  routes/travelController.js
  views/includes/meta.pug
Due: eslint --fix, pug-lint

Add canonical URL test
  lib/metaUtils.js
  lib/metaUtils.test.js
  lib/middleware/setCtxStateMiddleware.js
  lib/urlUtils.js
  lib/urlUtils.test.js
Due: eslint --fix

Add test coverage report
  docs/testing.md
  index.js
  lib/middleware/redirectMiddleware.js
  package.json
Due: eslint --fix

Fix error when rerunning tests
  package.json
Due: none

Move test coverage report generation to build
  docs/testing.md
  package.json
Due: none

Fix typo
  docs/testing.md
Due: none

Improve test coverage
  .eslintrc
  lib/Breadcrumb.js
  routes/homeController.test.js
  routes/sitemapContoller.test.js
  routes/travelController.test.js
  tests/testLib/testUtils.js
Due: eslint --fix

Fix first time setup order
  docs/first-time-setup.md
Due: none

Improve test coverage
  .eslintrc
  config.test.js
  lib/assetUtils.test.js
  lib/mediaUtils.js
  lib/mediaUtils.test.js
  lib/metaUtils.test.js
  lib/urlUtils.test.js
Due: eslint --fix

Commit snapshots
  .gitignore
  data/__snapshots__/travelPosts.test.js.snap
  lib/__snapshots__/mediaUtils.test.js.snap
  routes/__snapshots__/homeController.test.js.snap
  routes/__snapshots__/infoController.test.js.snap
  routes/__snapshots__/robotsController.test.js.snap
  routes/__snapshots__/sitemapContoller.test.js.snap
  routes/__snapshots__/travelController.test.js.snap
Due: none

Add --ci flag to test coverage command run in build task
  package.json
Due: none

Use sample config in tests to keep snapshots consistent across environments
  .eslintrc
  .gitignore
  config/config.sample.js
  config/config.test.js
  config/index.js
  data/__snapshots__/travelPosts.test.js.snap
  docs/directory-structure.md
  docs/first-time-setup.md
  lib/__snapshots__/mediaUtils.test.js.snap
  package-lock.json
  package.json
  routes/__snapshots__/homeController.test.js.snap
  routes/__snapshots__/travelController.test.js.snap
  tests/testLib/browserTestSetup.js
Due: eslint --fix

Improve test coverage and make cache time more configurable
  config/config.sample.js
  config/config.test.js
  data/__snapshots__/travelPosts.test.js.snap
  lib/__snapshots__/mediaUtils.test.js.snap
  lib/constants.js
  routes/__snapshots__/homeController.test.js.snap
  routes/__snapshots__/travelController.test.js.snap
Due: eslint --fix

Fix static asset caching header
  index.js
Due: eslint --fix

Improve snapshot tests
  data/__snapshots__/travelPosts.test.js.snap
  data/travelPosts.test.js
  routes/infoController.test.js
Due: eslint --fix

Improve the look of PhotoSwipe open/close transitions on mobile
  publicSrc/scripts/includes/photoswipe/photoswipeSetup.js
  publicSrc/scripts/includes/utils.js
  publicSrc/styles/includes/utility/utilityHide.css
Due: eslint --fix, stylelint --fix

Fix broken paths to frontend scripts
  .eslintignore
  .eslintrc
  package.json
Due: none

Add JSDoc comments to util functions
  publicSrc/scripts/includes/utils.js
Due: eslint --fix

Fix disappearing shadow on homepage images
  data/home.js
  publicSrc/styles/includes/pages/home.css
  routes/__snapshots__/homeController.test.js.snap
  views/layouts/main.pug
Due: eslint --fix, stylelint --fix, pug-lint

Fix flash of missing gallery thumbnail in Safari
  publicSrc/scripts/includes/photoswipe/photoswipeSetup.js
Due: eslint --fix

Remove console.log call
  publicSrc/scripts/includes/photoswipe/photoswipeSetup.js
Due: eslint --fix

Make blur around PhotoSwipe placeholder less hacky
  data/home.js
  publicSrc/scripts/includes/lazysizesSetup.js
  publicSrc/scripts/includes/photoswipe/photoswipeSetup.js
  publicSrc/scripts/main.js
  publicSrc/styles/includes/features/pictureMixin.css
  publicSrc/styles/includes/pages/home.css
  routes/__snapshots__/homeController.test.js.snap
  views/layouts/main.pug
Due: eslint --fix, stylelint --fix, pug-lint

Add Sorrento posts
  data/__snapshots__/travelPosts.test.js.snap
  data/travelPostsRaw.json
  routes/__snapshots__/travelController.test.js.snap
Due: none

Don't constrain panoramic image dimensions on width alone
  build/processImages.js
Due: eslint --fix

Add alt text to new Italy travel posts
  data/__snapshots__/travelPosts.test.js.snap
  data/travelPostsRaw.json
  routes/__snapshots__/travelController.test.js.snap
Due: none

Fix failing PhotoSwipe close test
  publicSrc/scripts/includes/photoswipe/photoswipe.browsertest.js
Due: eslint --fix

Sort sitemap entries by name
  routes/sitemapController.js
Due: eslint --fix

Make homepage description longer to make SEO bot happy
  data/home.js
  routes/__snapshots__/homeController.test.js.snap
Due: eslint --fix

Bump node version to latest stable
  package.json
Due: none

Update infoController snapshot with correct node version
  routes/__snapshots__/infoController.test.js.snap
Due: none

Improve gitignore files
  .gitignore
  data/generated/.gitignore
  public/.gitignore
Due: none

Increase site max width for large screens
  lib/constants.js
  publicSrc/styles/includes/base/structure.css
  publicSrc/styles/includes/base/variables.css
  views/error.pug
Due: eslint --fix, stylelint --fix, pug-lint

Improve img "sizes" attribute value
  lib/constants.js
  publicSrc/styles/includes/base/structure.css
Due: eslint --fix, stylelint --fix

Increase site padding on large screens
  lib/constants.js
  publicSrc/styles/includes/base/structure.css
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
  pug-lint: any of: *.pug
