Repository dlevs/dlevs.com-legacy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, pug-lint

Add WIP dockerfiles
  .dockerignore
  Dockerfile
  docker-compose.yml
  docs/first-time-setup.md
  nginx-conf/nginx.conf
  package-lock.json
  package.json
Due: none

Get nginx working locally
  .dockerignore
  docker-compose.yml
  lib/gitUtils.js
  lib/gitUtils.test.js
  routes/__snapshots__/infoController.test.js.snap
Due: eslint --fix

Serve static files from nginx
  docker-compose.yml
  index.js
  nginx-conf/nginx.conf
Due: eslint --fix

Configuring docker
  .dockerignore
  .env
  .gitignore
  .lintstagedrc
  Dockerfile
  README.md
  build/processScripts.webpack.config.js
  config/config.sample.js
  config/config.test.js
  config/index.js
  data/home.js
  data/travelPosts.js
  docker-compose.yml
  docs/directory-structure.md
  docs/first-time-setup.md
  index.js
  lib/constants.js
  lib/mediaUtils.js
  lib/viewGlobals.js
  nginx-conf/nginx.conf
  package-lock.json
  package.json
  routes/travelController.js
Due: eslint --fix

Get dockerised app working with SSL on server via nginx-proxy image
  docker-compose.yml
  index.js
  nginx-conf/nginx.conf
Due: eslint --fix

Add caching to nginx config
  nginx-conf/nginx.conf
Due: none

Comments
  .env
  Dockerfile
  build/processScripts.webpack.config.js
  docker-compose.yml
  tests/responseHeadersGzip.browsertest.js
Due: eslint --fix

Trying typescript in project
  .eslintrc
  index.js
  lib/numberUtils.ts
  package-lock.json
  package.json
  routes/travelController.ts
  tsconfig.json
Due: eslint --fix

Strip www subdomain
  docker-compose.yml
  nginx-conf/nginx.conf
Due: none

Converting to TypeScript
  Dockerfile
  lib/Breadcrumb.ts
  lib/assetUtils.ts
  lib/gpsUtils.js
  lib/gpsUtils.ts
  lib/pathUtils.js
  lib/pathUtils.ts
Due: eslint --fix

Fixing comiler errors
  lib/assetUtils.ts
  tsconfig.json
Due: none

Update eslintrc config to support TypeScript
  .eslintrc
  index.js
  lib/Breadcrumb.ts
  lib/assetUtils.ts
  lib/gpsUtils.ts
  lib/pathUtils.ts
  package-lock.json
  package.json
Due: eslint --fix

Updating more files to TypeScript
  lib/assetUtils.ts
  lib/metaUtils.ts
  lib/urlUtils.ts
  lib/viewGlobals.js
  lib/viewGlobals.ts
  lib/viewHelpers.js
  lib/viewHelpers.ts
  package-lock.json
  package.json
Due: eslint --fix

Convert more files to TypeScript
  .eslintrc
  data/home.ts
  index.js
  lib/constants.js
  lib/constants.ts
  lib/gitUtils.ts
Due: eslint --fix

Convert more files to TypeScript
  lib/Breadcrumb.ts
  lib/assetUtils.ts
  lib/objectUtils.ts
  package-lock.json
  package.json
  routes/sitemapController.ts
Due: none

Convert more files to TypeScript
  .eslintrc
  data/travelPosts.ts
  lib/Breadcrumb.ts
  lib/gpsUtils.test.ts
  lib/gpsUtils.ts
  routes/sitemapController.ts
  tsconfig.json
Due: none

Experimenting with Rambda
  data/travelPosts.ts
  package-lock.json
  package.json
Due: none

Fix typo
  data/travelPosts.ts
  package-lock.json
  package.json
Due: none

More TypeScript conversion
  data/travelPosts.ts
  routes/index.ts
  tsconfig.json
Due: none

Add absolute import support
  .eslintrc
  lib/pathUtils.ts
  package-lock.json
  package.json
  routes/index.ts
  routes/patternLibraryController.ts
  routes/reportingController.ts
  routes/robotsController.ts
  routes/sitemapController.ts
  routes/travelController.ts
  tsconfig.json
Due: none

Use absolute paths
  build/buildUtils.ts
  build/processImages.ts
  build/processMedia.ts
  build/processScripts.webpack.config.ts
  data/home.ts
  data/travelPosts.test.ts
  data/travelPosts.ts
  lib/assetUtils.ts
  lib/mediaUtils.ts
  lib/middleware/errorMiddleware.browsertest.ts
  lib/middleware/serverPushMiddleware.ts
  lib/middleware/setCtxStateMiddleware.ts
  publicSrc/scripts/includes/photoswipe/photoswipe.browsertest.ts
  routes/homeController.browsertest.ts
  routes/homeController.test.ts
  routes/homeController.ts
  routes/index.ts
  routes/infoController.browsertest.ts
  routes/infoController.test.ts
  routes/infoController.ts
  routes/robotsController.browsertest.ts
  routes/robotsController.test.ts
  routes/sitemapContoller.test.ts
  routes/sitemapController.browsertest.ts
  routes/sitemapController.ts
  routes/travelController.test.ts
  routes/travelController.ts
  tests/responseHeadersCaching.browsertest.ts
  tests/responseHeadersGzip.browsertest.ts
  tests/testLib/testUtils.ts
  views/includes/mixins/readMoreMixin.browsertest.ts
Due: none

Removing JSDoc annotations
  build/buildUtils.ts
  lib/mediaUtils.ts
  lib/metaUtils.ts
  lib/urlUtils.ts
  package-lock.json
  package.json
  publicSrc/scripts/includes/photoswipe/photoswipeSetup.ts
  publicSrc/scripts/includes/utils.ts
  routes/reportingController.ts
  tests/testLib/browserTestUtils.ts
  tests/testLib/testUtils.ts
  tsconfig.json
Due: none

Converting exports to ES6 modules
  build/buildUtils.ts
  build/processImages.ts
  build/processScripts.webpack.config.ts
  build/processSvgs.ts
  build/processVideos.ts
  data/__snapshots__/travelPosts.test.ts.snap
  data/technologies.ts
  lib/__snapshots__/mediaUtils.test.ts.snap
  lib/mediaUtils.ts
  lib/metaUtils.ts
  lib/middleware/errorMiddleware.ts
  lib/middleware/redirectMiddleware.ts
  lib/middleware/securityHeadersMiddleware.ts
  lib/middleware/serverPushMiddleware.ts
  lib/middleware/setCtxStateMiddleware.ts
  lib/objectUtils.ts
  lib/pathUtils.ts
  publicSrc/scripts/includes/photoswipe/photoswipeUi.ts
  routes/__snapshots__/homeController.test.ts.snap
  routes/__snapshots__/infoController.test.ts.snap
  routes/__snapshots__/robotsController.test.ts.snap
  routes/__snapshots__/sitemapContoller.test.ts.snap
  routes/__snapshots__/travelController.test.ts.snap
  routes/homeController.ts
  routes/index.ts
  routes/infoController.ts
  routes/robotsController.ts
  tests/testLib/browserTestConstants.ts
  tests/testLib/browserTestUtils.ts
  tests/testLib/testUtils.ts
Due: none

Type middleware functions
  index.ts
  lib/assetUtils.ts
  lib/middleware/errorMiddleware.ts
  lib/middleware/redirectMiddleware.ts
  lib/middleware/securityHeadersMiddleware.ts
  lib/middleware/serverPushMiddleware.ts
  lib/middleware/setCtxStateMiddleware.ts
  lib/types.ts
  package-lock.json
  package.json
  routes/homeController.ts
Due: none

Remove JSDoc annotations
  lib/metaUtils.ts
  lib/numberUtils.ts
  publicSrc/scripts/includes/photoswipe/photoswipeSetup.ts
  publicSrc/scripts/includes/utils.ts
  tests/testLib/browserTestUtils.ts
  tests/testLib/testUtils.ts
Due: none

Run eslint --fix
  .eslintrc
  build/addTravelBlogImages.ts
  src/data/technologies.ts
  src/data/travelPosts.test.ts
  src/data/travelPosts.ts
  src/lib/Breadcrumb.test.ts
  src/lib/assetUtils.test.ts
  src/lib/gitUtils.test.ts
  src/lib/mediaUtils.test.ts
  src/lib/mediaUtils.ts
  src/lib/metaUtils.test.ts
  src/lib/middleware/errorMiddleware.browsertest.ts
  src/lib/numberUtils.test.ts
  src/lib/objectUtils.test.ts
  src/lib/pathUtils.test.ts
  src/lib/urlUtils.test.ts
  src/routes/homeController.browsertest.ts
  src/routes/index.ts
  src/routes/infoController.browsertest.ts
  src/routes/robotsController.browsertest.ts
  src/routes/sitemapContoller.test.ts
  src/routes/sitemapController.browsertest.ts
  src/views/includes/head-scripts/removeNoJsClass.pug
  src/views/includes/mixins/readMoreMixin.browsertest.ts
Due: pug-lint

Fix eslint trying to parse JSON files
  index.ts
  package.json
Due: none

Get absolute paths working at runtime
  build/buildUtils.ts
  build/processImages.ts
  build/processMedia.ts
  build/processScripts.webpack.config.ts
  package-lock.json
  package.json
  publicSrc/scripts/includes/photoswipe/photoswipe.browsertest.ts
  src/data/home.ts
  src/data/travelPosts.test.ts
  src/data/travelPosts.ts
  src/index.ts
  src/lib/assetUtils.ts
  src/lib/mediaUtils.ts
  src/middleware/errorMiddleware.browsertest.ts
  src/middleware/errorMiddleware.ts
  src/middleware/redirectMiddleware.ts
  src/middleware/securityHeadersMiddleware.ts
  src/middleware/serverPushMiddleware.ts
  src/middleware/setCtxStateMiddleware.ts
  src/routes/homeController.browsertest.ts
  src/routes/homeController.test.ts
  src/routes/homeController.ts
  src/routes/index.ts
  src/routes/infoController.browsertest.ts
  src/routes/infoController.test.ts
  src/routes/infoController.ts
  src/routes/patternLibraryController.ts
  src/routes/robotsController.browsertest.ts
  src/routes/robotsController.test.ts
  src/routes/sitemapContoller.test.ts
  src/routes/sitemapController.browsertest.ts
  src/routes/sitemapController.ts
  src/routes/travelController.test.ts
  src/routes/travelController.ts
  src/views/includes/mixins/readMoreMixin.browsertest.ts
  tests/responseHeadersCaching.browsertest.ts
  tests/responseHeadersGzip.browsertest.ts
  tests/testLib/testUtils.ts
  tsconfig.json
Due: none

More typescript typing
  package-lock.json
  package.json
  src/data/home.ts
  src/lib/types.ts
  src/middleware/errorMiddleware.ts
  src/middleware/redirectMiddleware.ts
  src/middleware/serverPushMiddleware.ts
  src/middleware/setCtxStateMiddleware.ts
  src/routes/homeController.ts
  src/routes/infoController.ts
  src/routes/reportingController.ts
  src/routes/robotsController.ts
Due: none

More typescript
  build/processImages.ts
  src/data/home.ts
  src/lib/mediaUtils.ts
  src/lib/types.ts
  src/middleware/redirectMiddleware.ts
Due: none

Typing existing files
  build/buildUtils.ts
  build/processImages.ts
  build/processSvgs.ts
  build/processVideos.ts
  src/data/home.ts
  src/data/travelPosts.ts
  src/index.ts
  src/lib/__snapshots__/mediaUtils.test.ts.snap
  src/lib/env.ts
  src/lib/mediaUtils.test.ts
  src/lib/mediaUtils.ts
  src/lib/metaUtils.test.ts
  src/lib/metaUtils.ts
  src/lib/viewHelpers.ts
  src/middleware/securityHeadersMiddleware.ts
  src/routes/homeController.ts
  src/routes/travelController.ts
  src/views/includes/mixins/imageLinkMixin.pug
  src/views/includes/mixins/mediaMixin.pug
  src/views/includes/mixins/pictureMixin.pug
  src/views/sitemapXml.pug
  tsconfig.json
Due: pug-lint

More typescript. App now runs.
  src/data/home.ts
  src/index.ts
  src/lib/metaUtils.ts
  src/lib/objectUtils.test.ts
  src/lib/objectUtils.ts
  src/lib/types.ts
  src/lib/viewGlobals.ts
  src/lib/viewHelpers.ts
  src/routes/homeController.ts
  src/routes/patternLibraryController.ts
  src/routes/sitemapController.ts
  src/views/home.pug
  src/views/includes/meta.pug
  src/views/patternLibrary/images.pug
  src/views/travel/includes/relatedPosts.pug
  src/views/travel/includes/travelPostListingItems.pug
  src/views/travel/travelPost.pug
Due: pug-lint

Fix post ordering
  build/processScripts.webpack.config.js
  package.json
  publicSrc/process/media/travel/usa/new-york-2/IMG_20190601_181112.jpg
  publicSrc/process/media/travel/usa/new-york-2/IMG_20190601_183549.jpg
  publicSrc/process/media/travel/usa/new-york-2/IMG_20190603_122748.jpg
  publicSrc/process/media/travel/usa/new-york-2/IMG_20190604_144445.jpg
  publicSrc/process/media/travel/usa/new-york-2/IMG_20190607_203104.jpg
  publicSrc/process/media/travel/usa/new-york-2/IMG_20190607_204042.jpg
  publicSrc/process/media/travel/usa/new-york-2/IMG_20190607_213052.jpg
  publicSrc/process/media/travel/usa/new-york-2/IMG_20190607_221117.jpg
  publicSrc/process/media/travel/usa/new-york-2/IMG_20190607_223048.jpg
  publicSrc/process/media/travel/usa/new-york-2/IMG_20190608_000159.jpg
  publicSrc/process/media/travel/usa/new-york-2/MVIMG_20190601_161727.jpg
  publicSrc/process/media/travel/usa/new-york-2/MVIMG_20190601_182728.jpg
  publicSrc/process/media/travel/usa/new-york-2/MVIMG_20190603_160552.jpg
  publicSrc/process/media/travel/usa/new-york-2/MVIMG_20190606_151159.jpg
  publicSrc/process/media/travel/usa/new-york-2/MVIMG_20190607_212941-PANO.jpg
  publicSrc/scripts/main.ts
  src/data/travelPosts.ts
  src/index.ts
  src/lib/metaUtils.test.ts
  src/lib/metaUtils.ts
  src/routes/travelController.ts
Due: eslint --fix

Adding more types
  .env
  Dockerfile
  build/buildUtils.ts
  build/processImages.ts
  build/processMedia.ts
  docker-compose.yml
  package-lock.json
  package.json
  src/lib/env.ts
  src/lib/types.ts
  tsconfig.json
Due: none

Add legacy disclaimer
  README.md
Due: none

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
  pug-lint: any of: *.pug
